.env
env.yaml
env_vars.yaml
.git
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignorar entornos virtuales (CRÍTICO)
.venv/
venv/
env/
/Scripts/
/Lib/

# Ignorar datos locales y bases de datos pesadas
data/
temp_tickets/
facturas_procesadas/
facturas.db
*.log
