.env
.git
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store

# State directories and databases (Ignorados durante build para no engordar la imagen o empaquetar estado dinámico)
temp_tickets/
facturas.db
donut_dataset/

# Virtual environments
venv/
env/
